# Project exclude paths
/.idea
/*.iml
imgui.ini

/Lime/.gradle/
/Lime/gradle/
/Lime/build/
/Lime/build/classes/java/main/

/Lentt/.gradle/
/Lentt/gradle/
/Lentt/build/
/Lentt/build/classes/java/main/

/LimeEditor/.gradle/
/LimeEditor/gradle/
/LimeEditor/build/
/LimeEditor/build/classes/java/main/

/Sandbox2D/.gradle/
/Sandbox2D/gradle/
/Sandbox2D/build/
/Sandbox2D/build/classes/java/main/