# Project exclude paths
/.idea
/*.iml
imgui.ini

/Lime/.gradle/
/Lime/gradle/
/Lime/build/
/Lime/build/classes/java/main/

/Sandbox/.gradle/
/Sandbox/gradle/
/Sandbox/build/
/Sandbox/build/classes/java/main/

/Sandbox2D/.gradle/
/Sandbox2D/gradle/
/Sandbox2D/build/
/Sandbox2D/build/classes/java/main/